body{
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table;
}

li {
    float: left;
    background-color: #333;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

li a:hover {
    background-color: #111;
}

img{
    float: right;
    margin: 0 0 10px 10px;
    width: 300px;
}

form{
    padding: 20px 20px;
}

.middle{
    vertical-align: middle;
    text-align: center;
}

.btnRight{
    float: right;
}

.center{
    margin: 0 auto;
}
